pkgbase = databricks-cli-bin
	pkgdesc = Databricks CLI
	pkgver = 0.241.1
	pkgrel = 2
	url = https://github.com/databricks/cli
	arch = x86_64
	arch = aarch64
	license = custom:databricks
	makedepends = unzip
	provides = databricks-cli
	conflicts = python-databricks-cli
	conflicts = python-dbx
	source_x86_64 = https://github.com/databricks/cli/releases/download/v0.241.1/databricks_cli_0.241.1_linux_amd64.zip
	sha256sums_x86_64 = 452ce5b76d3aedf737f3effe7b4c246ba0e18d2d1ffe9b6a0277ea0c925acd7a
	source_aarch64 = https://github.com/databricks/cli/releases/download/v0.241.1/databricks_cli_0.241.1_linux_arm64.zip
	sha256sums_aarch64 = c5460c93d958922cfa5063bc2a9e3056607190fbf11cc886a58e25c6a5b151fd

pkgname = databricks-cli-bin
