pkgbase = databricks-cli-bin
	pkgdesc = Databricks CLI
	pkgver = 0.266.0
	pkgrel = 1
	url = https://github.com/databricks/cli
	arch = x86_64
	arch = aarch64
	license = custom:databricks
	makedepends = unzip
	provides = databricks-cli
	conflicts = python-databricks-cli
	conflicts = python-dbx
	source_x86_64 = https://github.com/databricks/cli/releases/download/v0.266.0/databricks_cli_0.266.0_linux_amd64.zip
	sha256sums_x86_64 = d1dfcc1eefc68391db5eca4b976b6f781326250ebaa2fe785bbde2ece6b326e9
	source_aarch64 = https://github.com/databricks/cli/releases/download/v0.266.0/databricks_cli_0.266.0_linux_arm64.zip
	sha256sums_aarch64 = 22a629f3aacc08e20860a6b1b35d514ee15772e156d436cdbbc91baea1b3b9c6

pkgname = databricks-cli-bin
