pkgbase = databricks-cli-bin
	pkgdesc = Databricks CLI
	pkgver = 0.274.0
	pkgrel = 1
	url = https://github.com/databricks/cli
	arch = x86_64
	arch = aarch64
	license = custom:databricks
	makedepends = unzip
	provides = databricks-cli
	conflicts = python-databricks-cli
	conflicts = python-dbx
	source_x86_64 = https://github.com/databricks/cli/releases/download/v0.274.0/databricks_cli_0.274.0_linux_amd64.zip
	sha256sums_x86_64 = 66567f4bc1ce8ac24ec8768308d2240c270ce047eeba167540d7f5e053bd5cdc
	source_aarch64 = https://github.com/databricks/cli/releases/download/v0.274.0/databricks_cli_0.274.0_linux_arm64.zip
	sha256sums_aarch64 = 2678dcd4050bf3d4e3dde4eb19ff28d3557c391c0660a89ccb7733f07eddb07b

pkgname = databricks-cli-bin
