pkgbase = nodejs-leapp-cli
	pkgdesc = Leapp's Command Line Interface.
	pkgver = 0.1.18
	pkgrel = 1
	url = https://www.npmjs.com/package/@noovolari/leapp-cli
	arch = any
	license = MPL2
	makedepends = npm
	depends = leapp
	depends = nodejs
	source = https://registry.npmjs.org/@noovolari/leapp-cli/-/leapp-cli-0.1.18.tgz
	sha256sums = 4c1fa2c76846b8e58785123211f89bdbca7916753a383dfbcac28fcc99cf086a

pkgname = nodejs-leapp-cli
